<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
<nav th:fragment="navbar" class="navbar nav" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a th:href="@{/}" class="vert-align">
            <img th:src="@{/images/logo.jpg}" class="logo" alt="Logo">

        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
           onclick="document.querySelector('.navbar-menu').classList.toggle('is-active');"
           data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-end">
            <!-- Reports Dropdown -->
            <div class="navbar-item has-dropdown is-hoverable">
                <a th:href="@{/report}" class="navbar-link">Reports</a>
                <div class="navbar-dropdown">
                    <!-- Updated to match your ReportController -->
<!--                    <a th:href="@{/report/order/dateoforder}" class="navbar-item">Orders by Date</a>-->
<!--                    <a th:href="@{/report/order/customername}" class="navbar-item">Orders by Customer</a>-->
                    <a th:href="@{/report/artist}" class="navbar-item">Artist Sales Report</a>
                    <hr class="navbar-divider">
                </div>
            </div>


            <!-- NEW: Record Sale Transactions -->
            <a th:href="@{/recordsale}" class="navbar-item">Record Sale Transactions</a>

            <!-- About Link -->
            <a th:href="@{/about}" class="navbar-item">About</a>

        </div>
    </div>
</nav>
</body>
</html>
